extend layout 

block content
  h1= title
  if user 
    p Hello #{user.username}

  if messages   
    ul
      each message in messages 
        div#message-box
          h3 #{message.title}
          p #{message.message}
          if !user
            p #{message.timestamp_formatted}
          if user
            if user.member==true
              p #{message.user.username} - #{message.timestamp_formatted}
              if user.username == message.user.username
                a(href=`clubhouse/delete-message/`+message._id)
                  input#deletebtn(type='image', src='/images/Delete.svg', title='Delete Message')
 
    

          
    
