extends layout 

block content
  h1= title
  if user 
    p Hello #{user.username}

  if messages   
    ul
      each message in messages 
        div#message-box
          h3 #{message.title}
          p #{message.message}
          p #{message.user.username} #{message.timestamp}
          if user
            if user.username == message.user.username
              input#deletebtn(type='image', src='/images/Delete.svg', title='Delete Message')

          
    
